[submodule "PKHUD"]
	path = PKHUD
	url = git://github.com/pkluz/PKHUD.git
[submodule "Freddy"]
	path = Freddy
	url = git://github.com/bignerdranch/Freddy
[submodule "Starscream"]
	path = Starscream
	url = git://github.com/daltoniam/Starscream
[submodule "Locksmith"]
	path = Locksmith
	url = git://github.com/matthewpalmer/Locksmith.git
[submodule "SQLite"]
	path = SQLite
	url = git://github.com/stephencelis/SQLite.swift.git
